@import 'tether-1.3.3 4/tether.min.scss';
@import 'bootstrap-4.0.0-alpha.6.2/bootstrap.scss';

body {
    border: 1px solid red;
}

table {
    th {
        text-align: center;
    }
}

tr.zero {
    td {
        color: lighten( $black, 65% ) !important;
    }
}

tr.totals {

    border-top: 2px solid black;

    td {
        font-weight: bold;
    }
}

table#satPerc{
     tr.bg-danger {
        color: #fff;
     }
}


//CSS FOR THE REPORT PAGE 

table#reportHeading {

    max-width: 900px;

    td {
        border: none;
    }

    td:nth-child(odd){
        text-align: right;
    }

    td:nth-child(even){
        text-align: left;
    }
}

table#reportBody {

    td {
        text-align: center;
    }

    tr.bg-danger {
        color: #fff;

        a {
            color: #fff;
        }

    }
}

table.indivSurvey {
    text-align: left;

    th, td {
        text-align: left;
        border: none;
    }

    .indent {
        padding-left: 2em;
    }
}