@import 'bootstrap-4.0.0-alpha.6.2/bootstrap.scss';

body {
    border: 1px solid red;
}

table {
    th {
        text-align: center;
    }
}

tr.zero {
    td {
        color: lighten( $black, 65% ) !important;
    }
}

tr.totals {

    border-top: 2px solid black;

    td {
        font-weight: bold;
    }
}


//CSS FOR THE REPORT PAGE 

table#reportHeading {

    max-width: 900px;

    td {
        border: none;
    }

    td:nth-child(odd){
        text-align: right;
    }

    td:nth-child(even){
        text-align: left;
    }
}

table#reportBody {
    tr.bg-danger {
        color: #fff;
    }
}